/*客户评价部分*/
/*标题部分 */
.kenew {
    /*overflow: hidden;*/
}
.kenew_kehu_top{
    height: 80px;
    text-align: center;
}
.kenew_kehu_top h2 {
    margin-top: 95px;
    font-size: 20px;
    font-family: HELVETICANEUELTPRO-THEX,"fzlantinghei-l-gbkregular","微软雅黑";
    color:#fff;
}
.kenew_kehu_top p{
    margin-top: 2px;
    font-size: 12px;
    color:white;
}
.kenew_kehu_top_one{
    width: 40px;
    height: 2px;
    background: #ff1318;
    margin: 6px auto;
    float: left;
    margin-left: 580px;
}
/*.kenew_kehu_top_two .btn{*/
    /*display: block;*/
    /*width: 60px;*/
    /*height: 20px;*/
    /*border-radius: 15px;*/
    /*background: #212121;*/
    /*/!*background: url("../images/btn.png") no-repeat -50px 3px;*!/*/
    /*border: 2px solid #424242;*/
    /*text-align: center;*/
    /*line-height: 30px;*/
    /*font-size: 30px;*/
    /*color: #fff;*/
    /*float: right;*/
    /*margin-top: -20px;*/
/*}*/
/*.kenew_kehu_top_two span:hover{*/
    /*/!*background-color: red;*!/*/
    /*background: red url("../images/btn.png") no-repeat 15px -18px;*/
    /*cursor: pointer;*/
/*}*/

/*客户评论部分*/

/*buttom_left---部分*/
.kenew_kehu_bottom{
    /*margin-top: 25px;*/
    overflow: hidden;
}
.buttom_left,.buttom_zhong,.buttom_right{
    width: 390px;
    height: 258px;
    border: 1px solid #505050;
}
.buttom_left_top,.buttom_zhong_top,.buttom_right_top{
    height: 158px;
}
.buttom_left_top span,.buttom_zhong_top span,.buttom_right_top span{
    display: block;
    font-size:16px;
    margin-left: 25px;
    color:#ccc;
}
.buttom_left_top i,.buttom_zhong_top i,.buttom_right_top i{
    display: block;
    margin: 0 25px;
    line-height: 25px;
    font-size: 14px;
    color:#ccc;
    font-style: normal;
}
.buttom_left_buttom,.buttom_zhong_buttom,.buttom_right_buttom{
    height: 100px;
    background: #414141;
    /*padding: 20px 10px 0 30px;*/
    padding: 0px 10px 0 30px;
}
.buttom_left_buttom span,.buttom_zhong_buttom span,.buttom_right_buttom span {
    display: block;
    font-size: 50px;
    color:#989293;
}
.buttom_left_buttom i,.buttom_zhong_buttom i,.buttom_right_buttom i{
    font-size: 14px;
    color:#c9cbbe;
    font-style: normal;

}
.buttom_left_buttom b,.buttom_zhong_buttom b,.buttom_right_buttom b{
    display: block;
    float: right;
    width: 50px;
    height: 50px;
    background: url("../images/pj_pre.png") no-repeat ;
    /*background: #808080;*/
    color:#232323;
    /*text-align: center;*/
    /*line-height: 50px;*/
    /*border-radius: 25px;*/
    /*font-size: 50px;*/
    margin-top: -30px;
}
.buttom_zhong{
    margin: 0 15px;
}


.buttom_left:hover  .buttom_left_top,.buttom_zhong:hover  .buttom_zhong_top,.buttom_right:hover  .buttom_right_top{
    background:#414141;
    color:#fff;
}
.buttom_left:hover .buttom_left_buttom,.buttom_right:hover .buttom_right_buttom,.buttom_zhong:hover .buttom_zhong_buttom{
    background:#ff0000;
    color:#fff;
}
.buttom_left:hover .buttom_left_buttom b,.buttom_zhong:hover .buttom_zhong_buttom b,.buttom_right:hover .buttom_right_buttom b{
    background: url("../images/pj_pre_h.png") no-repeat ;
    /*color:#fff;*/
}
.buttom_left:hover .buttom_left_buttom span,.buttom_zhong:hover .buttom_zhong_buttom span,.buttom_right:hover .buttom_right_buttom span{
    /*background: url("../images/pj_pre_h.png") no-repeat ;*/
    color:#fff;
}
.buttom_left:hover .buttom_left_buttom i,.buttom_zhong:hover .buttom_zhong_buttom i,.buttom_right:hover .buttom_right_buttom i{
    color:#fff;
}
