@charset "UTF-8";
/* 新闻中心*/
.news {
    background: #212121;
    margin-top: 70px;
}
.news-biaoti {
    margin: 0 auto;
    font-family: HELVETICANEUELTPRO-THEX,"fzlantinghei-l-gbkregular","微软雅黑";
}
/*  标题  */
.news-title {
    color: white;
    margin-top: 90px;
    text-align: center;
}
.news-title h2 {
    font-size: 20px;
    font-family: HELVETICANEUELTPRO-THEX,"fzlantinghei-l-gbkregular","微软雅黑";
}
.news-title p {
    font-size: 10px;
    margin-top: 2px;
    -webkit-transform: scale(0.8);
    word-spacing: 0px;
    letter-spacing: 0px
}

.hr-red {
    width: 44px;
    border: 1px solid #FF0000;
    margin-top: 4px;

}
/*  箭头 */
.btn{
    width: 60px;
    height:22px;
    border:1px solid #383838;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.bg{
    height:24px;
    width: 70px;
    position: absolute;
    left:8px;
}
.one{
    display: inline-block;
    height:22px;
    width: 100%;
    background:url("../images/jiantou.fw.png") no-repeat 0 0 ;
}
.two{
    display: inline-block;
    height:22px;
    width: 100%;
    background:url("../images/jiantou.fw.png") no-repeat 0 -5px ;
}
.btn:hover {
    background-color: #FE0000;
}
/*  新闻中心 的内容 */
.n-content {
    margin-top: 30px;
}
.content-Left a,.content-right a {
    color: #98948B;
}
.content-Left p,.content-right p {
    color: #999999;
    font-size: 20px;
}
.content-Left span,.content-right span  {
    font-size: 14px;
    line-height: 36px;
    padding-left: 20px;
}

.content-Left p:hover,.content-right p:hover {
    color: white;
}
.hr-gray {
    width: 575px;
    border: 1px solid #303030;
    margin-bottom: 10px;
}
