
/*标题部分*/
.title{
    margin-bottom: 20px;
    position: relative;
}
.title h2,.title h5{
    text-align: center;
    color: #ffffff;
}
.title h5{
    margin-top: 9px;
}
.title div{
    width: 40px;
    height: 4px;
    background: #9B2A2E;
    margin: 6px auto 0 auto;
}
.title span{
    display: inline-block;
    width: 70px;
    height: 22px;
    border: 1px solid #383838;
    position: absolute;
    right: 80px;
    top: 50%;
    border-radius: 15px;
    cursor: pointer;
    background: url("../images/jiantou.fw.png") no-repeat 15px 3px;
}
/*.title span:hover{*/
/*background-color: red;*/
/*}*/
/*标题部分*/
/*轮播图部分开始*/
.big{
    margin-bottom: 50px;
}
.box{
    position: relative;
}
.lunbotu{
    width: 1192px;
    height: 260px;
    margin: 0 auto;
    overflow: hidden;
    /*display: inline-block;*/
    position: relative;
}
.lunbotu ul{
    width: 8500px;
    height: 260px;
    position: absolute;
    left: -1200px;
}
.lunbotu ul li{
    width: 392px;
    height: 263px;
    float: left;
    margin-right: 8px;
    position: relative;
}
.info,.movie{

    position: absolute;
    bottom: 0;
    width: 392px;
    height: 80px;
}
.info{
    display: none;
}
.movie{
    display: block;
}
.info a,.movie a{
    display: block;
    color: #FFFFFF;
    height: 60px;
    line-height: 60px;
    padding: 0 15px 0 25px;
    width: 352px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.info a{
    background: red;
}
.movie a{
    background: #414141;;
}
.info span,.movie span{
    float: right;
}
.info span{
    font-size: 24px;
}
.movie span{
    display: block;
    width: 34px;
    height: 34px;
    background: url("../images/play.png");
    position:absolute;
    right: 10px;
    bottom: 10px;
}
.box .botton{
    width: 65px;
    height: 260px;
    cursor: pointer;
    position: absolute;
    top: 0;
    z-index: 1;
}
.left{
    left: 0;
    background: url("../images/btn_left.jpg") no-repeat;
}
.right{
    right: 0;
    background: url("../images/btn_right.jpg") no-repeat;
}

/*轮播图部分结束*/