@charset "UTF-8";
/*品牌中心的开始*/
.pinpai {
    margin-top: 70px;
}
.biaoti {
    width: 400px;
    height: 70px;
    /*background-color: pink;*/
    margin: 0 auto;
    /*margin-bottom: 15px;*/
    text-align: center;
    padding-bottom:5px;
    color: #FDFEFF;
    font-size: 14px;
    font-family: "微软雅黑";
}
.biaoti h2 {
    margin:0 auto;
}
.biaoti p {
    font-size: 12px;
    margin-top:2px;
}
hr {
    width: 42px;
    border: 1px solid #D01413;
    margin:5px auto 0 auto;
}
.wrap {
    width: 1210px;
    height: 526px;
    /*border: 1px solid red;*/
    margin-right: 5px;
}
.dayi {
    width: 390px;
    height: 257px;
    /*background-color: greenyellow;*/
}
.wrap-midle-chang {
    background-color: #414141;
    width: 358px;
    height: 54px;
    padding-left: 32px;
   line-height: 52px;
    margin-top: -4px;
    position: relative;
    color: #ffffff;
}
/*.dayi:hover .wrap-midle-chang .yuan {*/
    /*background: url(../images/sprite.fw.png) no-repeat 0 -36px;*/
    /*background-color: #FF0000;*/
/*}*/

/*.dayi:hover .wrap-midle-chang .yuan1 {*/
    /*background: url(../images/sprite.fw.png) no-repeat -37px -36px ;*/
    /*background-color: #FF0000;*/
/*}*/

.yuan {
     width: 36px;
     height: 35px;
     display: block;
     background: url(../images/sprite.fw.png) no-repeat;
     position: absolute;
     top:10px;
     right: 9px;

 }
.yuan1 {
    width: 36px;
    height: 36px;
    display: block;
    background: url(../images/sprite.fw.png) no-repeat -36px 0;
    position: absolute;
    top:10px;
    right: 9px;
}
.wrap ul li {
    float: left;
    padding: 0 0px 10px 10px ;
}
/*品牌中心的结束*/