
/*tel开始*/
.address{
    width: 1210px;
    margin: 0 auto;
}

.city{
    background-color: #212121;
}
.tel{
    background-color: #212121;
}
/*tel结束*/
/* city开始 */

.city-content{
    width: 1210px;
    margin: 0 auto;
    overflow: hidden;
}
.title{
    color: #fff;
    margin-top: 90px;
    text-align: center;
}
.text_center h2{
    font-size: 24px;
    font-family: HELVETICANEUELTPRO-THEX,"fzlantinghei-l-gbkregular","微软雅黑";
}
.title h2, .title p, .title hr{
    margin: 0 0 5px 0;
}
.title p{
    font-size: 10px;
    word-spacing: 0px;
    letter-spacing: 0px;
}

.title hr{
    width: 3.2%;
    border: 1px solid red;
}

.city_name{
    width: 1210px;
    margin-top: 25px;
    position: relative;
    float: left;
}
.city_name ul{
    padding:0;
    margin-bottom: 10px;
}
.city_name ul li{
    float: left;
    width: 92px;
    height: 125px;
    display: block;
}

/* 这部分是receipt样式开始*/
.city_name ul li .city_name_bg1{
    width: 86px;
    height: 114px;
    display: block;
    background: url("../images/dali-1.png") no-repeat center center;
    position: absolute;
    top: 12px;
}
.city_name ul li .city_name_bg1:hover{
    width: 86px;
    height: 114px;
    display: block;
    background: url("../images/dali-2.png") no-repeat center center;
    position: absolute;
    top: -10px;
}

.city_name ul li .city_name_bg2{
    width: 86px;
    height: 114px;
    display: block;
    background: url("../images/sy-1.png") no-repeat center center;
    position: absolute;
    top: 12px;
}
.city_name ul li .city_name_bg2:hover{
    width: 86px;
    height: 114px;
    display: block;
    background: url("../images/sy-2.png") no-repeat center center;
    position: absolute;
    top: -10px;
}
.city_name ul li .city_name_bg3{
    width: 86px;
    height: 114px;
    display: block;
    background: url("../images/lj-1.png") no-repeat center center;
    position: absolute;
    top: 12px;
}
.city_name ul li .city_name_bg3:hover{
    width: 86px;
    height: 114px;
    display: block;
    background: url("../images/lj-2.png") no-repeat center center;
    position: absolute;
    top: -10px;
}

.city_name ul li .city_name_bg4{
    width: 86px;
    height: 114px;
    display: block;
    background: url("../images/dali-1.png") no-repeat center center;
    position: absolute;
    top: 12px;
}
.city_name ul li .city_name_bg4:hover{
    width: 86px;
    height: 114px;
    display: block;
    background: url("../images/dali-2.png") no-repeat center center;
    position: absolute;
    top: -10px;
}

.city_name ul li .city_name_bg5{
    width: 86px;
    height: 114px;
    display: block;
    background: url("../images/qd-1.png") no-repeat center center;
    position: absolute;
    top: 12px;
}
.city_name ul li .city_name_bg5:hover{
    width: 86px;
    height: 114px;
    display: block;
    background: url("../images/qd-2.png") no-repeat center center;
    position: absolute;
    top: -10px;
}
.city_name ul li .city_name_bg6{
    width: 86px;
    height: 114px;
    display: block;
    background: url("../images/dl-1.png") no-repeat center center;
    position: absolute;
    top: 12px;
}
.city_name ul li .city_name_bg6:hover{
    width: 86px;
    height: 114px;
    display: block;
    background: url("../images/dl-2.png") no-repeat center center;
    position: absolute;
    top: -10px;
}
.city_name ul li .city_name_bg7{
    width: 86px;
    height: 114px;
    display: block;
    background: url("../images/gl-1.png") no-repeat center center;
    position: absolute;
    top: 12px;
}
.city_name ul li .city_name_bg7:hover{
    width: 86px;
    height: 114px;
    display: block;
    background: url("../images/gl-2.png") no-repeat center center;
    position: absolute;
    top: -10px;
}

.city_name ul li .city_name_bg8{
    width: 86px;
    height: 114px;
    display: block;
    background: url("../images/xg-1.png") no-repeat center center;
    position: absolute;
    top: 12px;
}

.city_name ul li .city_name_bg8:hover{
    width: 86px;
    height: 114px;
    display: block;
    background: url("../images/xg-2.png") no-repeat center center;
    position: absolute;
    top: -10px;
}
.city_name ul li .city_name_bg9{
    width: 86px;
    height: 114px;
    display: block;
    background: url("../images/sz-1.png") no-repeat center center;
    position: absolute;
    top: 12px;
}
.city_name ul li .city_name_bg9:hover{
    width: 86px;
    height: 114px;
    display: block;
    background: url("../images/sz-2.png") no-repeat center center;
    position: absolute;
    top: -10px;
}
.city_name ul li .city_name_bg10{
    width: 86px;
    height: 114px;
    display: block;
    background: url("../images/xgll-1.png") no-repeat center center;
    position: absolute;
    top: 12px;
}
.city_name ul li .city_name_bg10:hover{
    width: 86px;
    height: 114px;
    display: block;
    background: url("../images/xgll-2.png") no-repeat center center;
    position: absolute;
    top: -10px;
}
.city_name ul li .city_name_bg11{
    width: 86px;
    height: 114px;
    display: block;
    background: url("../images/bld-1.png") no-repeat center center;
    position: absolute;
    top: 12px;
}
.city_name ul li .city_name_bg11:hover{
    width: 86px;
    height: 114px;
    display: block;
    background: url("../images/bld-2.png") no-repeat center center;
    position: absolute;
    top: -10px;
}
.city_name ul li .city_name_bg12{
    width: 86px;
    height: 114px;
    display: block;
    background: url("../images/pjd-1.png") no-repeat center center;
    position: absolute;
    top: 12px;
}
.city_name ul li .city_name_bg12:hover{
    width: 86px;
    height: 114px;
    display: block;
    background: url("../images/pjd-2.png") no-repeat center center;
    position: absolute;
    top: -10px;
}
.city_name ul li .city_name_bg13{
    width: 86px;
    height: 114px;
    display: block;
    background: url("../images/medf-1.png") no-repeat center center;
    position: absolute;
    top: 12px;
}
.city_name ul li .city_name_bg13:hover{
    width: 86px;
    height: 114px;
    display: block;
    background: url("../images/medf-2.png") no-repeat center center;
    position: absolute;
    top: -10px;
}
/* 这部分是receipt样式结束*/

/* city结束 */

/* 这部分是旅拍的图片样式开始*/
.photo_top{
    height: 120px;
    background-color: #404040;
    margin-top: 90px;
    display: block;
}

.photo_top_l{
    width: 365px;
    height: 120px;
    background: url("../images/photo.png") no-repeat center center;
    position: absolute;
    left: 38%;
}
.photo_top_l:after{
    content: '';
    width: 37px;
    height: 120px;
    background:url("../images/pj_pre.png") no-repeat center center;
    position: absolute;
    right:-56px;
}
.photo_top:hover{
    background-color: red;
}
.photo_top:hover .photo_top_l{
    width: 365px;
    height: 120px;
    background: url("../images/photo_h.png") no-repeat center center;
    position: absolute;
    left: 35%;
}
.photo_top:hover .photo_top_l:after
{
    background: url("../images/pj_pre_h.png") no-repeat center center;
    right:-150px;
    transition: all .3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-delay: 0s;
}
/*.photo_top_r{*/
/*width: 37px;*/
/*height: 120px;*/
/*background:url("../images/pj_pre.png") no-repeat center center;*/
/*position: absolute;*/
/*right: 40%;*/
/*}*/
/*.photo_top:hover .photo_top_r{*/
/*width: 37px;*/
/*height: 120px;*/
/*background:url("../images/pj_pre_h.png") no-repeat center center;*/
/*position: absolute;*/
/*right: 38%;*/
/*}*/


/*.photo_bot{*/
/*height: 120px;*/
/*background-color: #212121;*/
/*display: block;*/
/*}*/
/*.photo_bot:hover{*/
/*background-color: red;*/
/*}*/

/*.photo_bot_l{*/
/*width: 365px;*/
/*height: 120px;*/
/*background: url("../images/family.png") no-repeat center center;*/
/*position: absolute;*/
/*left: 38%;*/
/*}*/
/*.photo_bot:hover{*/
/*background-color: red;*/
/*}*/
/*.photo_bot:hover .photo_bot_l{*/
/*width: 365px;*/
/*height: 120px;*/
/*background: url("../images/family_h.png") no-repeat center center;*/
/*position: absolute;*/
/*left: 35%;*/
/*}*/
/*.photo_bot_r{*/
/*width: 37px;*/
/*height: 120px;*/
/*background:url("../images/pj_pre.png") no-repeat center center;*/
/*position: absolute;*/
/*right: 40%;*/
/*}*/
/*.photo_bot:hover .photo_bot_r{*/
/*width: 37px;*/
/*height: 120px;*/
/*background:url("../images/pj_pre_h.png") no-repeat center center;*/
/*position: absolute;*/
/*right: 38%;*/
/*}*/

/* 这部分是旅拍的图片样式结束*/
.photo_bot{
    height: 120px;
    background-color: #212121;
    display: block;
}

.photo_bot_l{
    width: 365px;
    height: 120px;
    background: url("../images/family.png") no-repeat center center;
    position: absolute;
    left: 38%;
}
.photo_bot_l:after{
    content: '';
    width: 37px;
    height: 120px;
    background:url("../images/pj_pre.png") no-repeat center center;
    position: absolute;
    right:-56px;
}
.photo_bot:hover{
    background-color: red;
}
.photo_bot:hover .photo_bot_l{
    width: 365px;
    height: 120px;
    background: url("../images/family_h.png") no-repeat center center;
    position: absolute;
    left: 35%;
}
.photo_bot:hover .photo_bot_l:after
{
    background: url("../images/pj_pre_h.png") no-repeat center center;
    right:-150px;
    transition: all .3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-delay: 0s;
}
/*fixed开始*/

.fixed_l{
    width: 70px;
    height: 350px;
    background: #505050;
    position: fixed;
    top:50%;
    top:175px;
    z-index: 100;

}
.fixed_l .vg1{
    display: block;
    height: 70px;
    background: url("../images/float.jpg") no-repeat center center;
}
.fixed_l .vg2{
    display: block;
    height: 70px;
    background: url("../images/float.jpg") no-repeat 0 -70px;
}
.fixed_l .vg3{
    display: block;
    height: 70px;
    background: url("../images/float.jpg") no-repeat 0 -140px;
}

.fixed_l .vg4{
    display: block;
    height: 70px;
    background: url("../images/float.jpg") no-repeat 0 -210px;
}

.fixed_l .vg5{
    display: block;
    height: 70px;
    background: url("../images/float.jpg") no-repeat 0 -280px;

}
/*fixed结束*/


